@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  height: 100vh;
  color: white;
  background: linear-gradient(to right, #00A89D, #00DB9D);
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-item {
  font-family: 'Inconsolata', monospace;
}

.main-item header {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
}

.main-item header .sm {
  font-size: .5em;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  width: 5em;
  display: flex;
  justify-content: space-between;
}

.footer-item a {
  opacity: .6;
}

.footer-item a:hover {
  opacity: .8;
}

dl dd {
  opacity: .6;
  visibility: hidden;
  margin-left: 1em;
  font-style: italic;
}

a {
  color: white;
}

a.btn {
  opacity: .6;
  text-decoration: none;
  border: .1em solid white;
  border-radius: 1em;
  padding: .1em .6em .1em .6em;
}

a.btn:hover {
  opacity: .8;
  background: rgba(255, 255, 255, .3);
}
