
@import url(https://fonts.googleapis.com/css?family=Merriweather);


body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.nav {

}


}
.header-image {
    display: block;

}

.headline {
    padding: 120px 0;
    text-align: center;
}

.headline h1 {
    font-size: 50px;
    font-family: 'Merriweather', serif;

}

.headline h2 {
    font-size: 30px;
    font-weight: 300;

}

.headline h4 {

    font-weight: 300;

}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}


.tone-gray{

    color: rgb(150,50,50);
}

.tone-gray i{

    color: rgb(200,100,100);
}
