.components-bio {
  display: flex;
  font-size: 1.3rem;
}

.components-bio-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.components-bio-content > .image {
  border-radius: 50%;
}

.components-bio-content > .social {
  display: flex;
  list-style: none;
  margin: 0;
}

.components-bio-content > .social > li {
  margin: 0;
}

.components-bio-content > .social > li + li {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .components-bio {
    flex-direction: column;
  }

  .components-bio-content {
    margin-top: 1rem;
  }

  .components-bio-content > .image {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .components-bio-content {
    flex-direction: column;
    margin-left: 1rem;
  }
}
