@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Droid+Sans|Droid+Serif');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, a {
font-family: 'Droid Sans', sans-serif;
}

.text-oldy {
  font-family: 'Droid Serif', serif;
}

.text-subby {
 font-style: italic;
 color:gray;
}

.text-nomargy {
  margin-top:0;
}

.text-liny {
  color:grey;
  text-align: center;
  margin:3em;
}

.headliny {
	margin-top:5em;
	margin-bottom:5em;
}

.navy {
	margin-top:5em;
	margin-bottom:5em;
}

.navy a, .navy p, .navy h3, .navy h4{
	color:black;
	font-family: 'Droid Serif', serif;
}

.navy a:hover {
  color:gray;
}

.footery {
	margin-top:5em;
	margin-bottom:2em;
}

.footery p, .footery a {
	font-style: italic;
 	color:gray;
}

.footery a:hover {
 	color:black;
}

#consoly {
	max-width: 25em;
	margin: auto;
	padding:1em;
	text-align: left;
	font-style: italic;
	color:black;
	background-color: white;
	border-radius: 1em;
    border: 0.15em solid black;
    box-shadow: 0.5em 0.5em gray;
}

#consoly h4 {
	font-weight: bold;
}

#consoly p {
	color:gray;
}

#consoly:hover {
	color:white;
	background-color: #073642;
	border: 0.15em solid black;
}

#consoly:hover #echoy {
		color:#859900;
}

#consoly:hover p {
	color:#839496;
}

#consoly:hover h4 {
	font-weight: bold;
	color:#2aa198;
}

#consoly, #consoly :hover{animation:opac 0.3s}
@keyframes opac{0%{opacity:1} 50%{opacity:0} 100%{opacity:1}}
