@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Droid+Sans|Droid+Serif');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, a {
font-family: 'Droid Sans', sans-serif;
}

.text-oldy {
  font-family: 'Droid Serif', serif;
}

.text-oldy a {
  color:black;
  font-family: 'Droid Serif', serif;
}

.text-oldy a:hover {
  color:gray;
}

.text-subby {
 font-style: italic;
 color:gray;
}

.text-nomargy {
  margin-top:0;
}

.hr-texty {
  color:grey;
  text-align: center;
  margin:5em;
}
