
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* -----------------------General------------------------ */
body {
    margin-top: 100px; 
}

.headline {
    padding: 100px 0;
    text-align: center;
}

.footer {
    margin: 50px 0;
}

.blog-breadcrumb {
    margin: 50px 0;

}


/* ----------------------Featurettes-------------------- */
.featurette {
    overflow: hidden;
}

.featurette-heading {
    font-size: 50px;
}

.featurette-divider {
    margin: 100px 0;
}

.featurette-image.pull-left {
    margin-right: 50px;
}

.featurette-image.pull-right {
    margin-left: 50px;
}


/* -----------------------Styling fonts----------------- */
.headline h1 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

.headline h2 {
    font-size: 30px;
    font-weight: 300;
}

.headline h4 {
    font-weight: 300;
}


/* -------------------------Coloring--------------------- */
a {
    color: rgb(150,50,50);
}

.tone-accent{
    color: rgb(150,50,50);
}

.tone-accent i{
    color: rgb(200,100,100);
}

.tone-muted{
    color :grey;
}