@import url('https://fonts.googleapis.com/css?family=Jura');

body {
  height: 100vh;
  color: white;
  background: linear-gradient(to right, #000, #333);
  font-family: 'Jura', sans-serif;
}

main {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-item {
  font-size: 1.1em;
}

.main-item header {
  margin-bottom: 2em;
}

.main-item header img {
  width: 70px;
  height: 70px;
}

.main-item header img:hover {
  opacity: 0.8;
}

.main-item dl dd {
  opacity: .6;
  margin-left: 1em;
  font-style: italic;
}

.main-item:not(.detailed) dl dd {
  display: none;
}

.main-item:not(.detailed) #less {
  display: none;
}

.main-item.detailed #more {
  display: none;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  width: 5em;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: .8;
  text-decoration: line-through;
}

.footer-item a {
  opacity: .6;
}

.footer-item a:hover {
  opacity: .8;
}

.btn {
  color: white;
  background: none;
  opacity: .6;
  outline: none;
  text-decoration: none;
  padding: .3em 0 .3em 0;
  border: none;
  border-bottom: .1em solid white;
}

.btn:hover {
  opacity: .8;
}
